In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import re
%matplotlib inline

In [2]:
master = pd.read_csv('data/Master.csv', parse_dates=['debut', 'finalGame'])
# Currently not caring about pitchers

In [148]:
bbmaster = master[['playerID', 'nameFirst', 'nameLast', 'nameGiven']]
print(len(bbmaster))
bbmaster.head(2)

18589

    playerID nameFirst nameLast    nameGiven
0  aardsda01     David  Aardsma  David Allan
1  aaronha01      Hank    Aaron  Henry Louis

In [6]:
batting = pd.read_csv('data/Batting.csv')
batting.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')

In [149]:
print(len(batting))
batting.head(2)

99846

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13,8,1,4,0,NaN,NaN,NaN,NaN,NaN

In [8]:
master_batting = pd.merge(master, batting)

In [9]:
batting.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')

In [146]:
bats = batting[['playerID', 'yearID','AB', 'H', 'BB', 'HBP', 'SF']]
bats.head()
print(len(bats))
bbdata2 = pd.merge(bbmaster, bats)
bbdata2.head(2)

99846

    playerID nameFirst nameLast    nameGiven  yearID  AB  H  BB  HBP  SF
0  aardsda01     David  Aardsma  David Allan    2004   0  0   0    0   0
1  aardsda01     David  Aardsma  David Allan    2006   2  0   0    0   0

In [11]:
salaries = pd.read_csv('data/Salaries.csv')
salaries.columns

Index(['yearID', 'teamID', 'lgID', 'playerID', 'salary'], dtype='object')

In [147]:
salaries = salaries[['yearID', 'playerID', 'salary']]
print(len(salaries))
salaries.head(2)

24758

   yearID   playerID  salary
0    1985  barkele01  870000
1    1985  bedrost01  550000

In [13]:
bbdata_sal = pd.merge(bbdata2, salaries)
print(len(bbdata_sal))
bbdata_sal.head()

26470

,playerID,nameFirst,nameLast,nameGiven,yearID,AB,H,BB,HBP,SF,salary
0,aardsda01,David,Aardsma,David Allan,2004,0,0,0,0,0,300000
1,aardsda01,David,Aardsma,David Allan,2007,0,0,0,0,0,387500
2,aardsda01,David,Aardsma,David Allan,2008,1,0,0,0,0,403250
3,aardsda01,David,Aardsma,David Allan,2009,0,0,0,0,0,419000
4,aardsda01,David,Aardsma,David Allan,2010,0,0,0,0,0,2750000

In [14]:
# Drop all AB values of 0 or null (average at-bats in MLB is 30/year)
bbdata_sal = bbdata_sal.drop(bbdata_sal.index[(bbdata_sal['AB'] < 15) | \
                                              (bbdata_sal['H']  < 30) | \
                                              (pd.isnull(bbdata_sal['AB']))])

In [15]:
bbdata_sal['OBP'] = bbdata_sal.apply(lambda row: (row['H'] + row['BB'] + row['HBP']) * 100 / \
                                     (row['AB'] + row['BB'] + row['HBP'] + row['SF']), axis=1)

In [151]:
bbdata_sal.sort(columns=['OBP'], ascending=False).head(2)

,playerID,nameFirst,nameLast,nameGiven,yearID,AB,H,BB,HBP,SF,salary,OBP,OBP_sal_10k
2367,bondsba01,Barry,Bonds,Barry Lamar,2004,373,135,232,9,3,18000000,60.940032,0.033856
2365,bondsba01,Barry,Bonds,Barry Lamar,2002,403,149,198,9,2,15000000,58.169935,0.038780

In [18]:
bbdata_sal = bbdata_sal.drop(bbdata_sal.index[bbdata_sal['salary'] <= 0])
pass

In [152]:
bbdata_sal['OBP_sal_10k'] = bbdata_sal.apply(lambda row: row['OBP'] * 10000 / row['salary'], axis=1)
bbdata_sal.sort(columns='OBP_sal_10k', ascending=False).head(2)

,playerID,nameFirst,nameLast,nameGiven,yearID,AB,H,BB,HBP,SF,salary,OBP,OBP_sal_10k
12168,jonestr01,Tracy,Jones,Tracy Donald,1986,86,30,9,0,1,60000,40.625000,6.770833
12947,krukjo01,John,Kruk,John Martin,1986,278,86,45,0,2,60000,40.307692,6.717949

In [21]:
appearances = pd.read_csv('data/Appearances.csv')
appearances.columns

Index(['yearID', 'teamID', 'lgID', 'playerID', 'G_all', 'GS', 'G_batting',
       'G_defense', 'G_p', 'G_c', 'G_1b', 'G_2b', 'G_3b', 'G_ss', 'G_lf',
       'G_cf', 'G_rf', 'G_of', 'G_dh', 'G_ph', 'G_pr'],
      dtype='object')

In [154]:
appearances.pop('lgID')
appearances.pop('teamID')

KeyError: 'lgID'

In [155]:
print(len(appearances))
appearances.head(2)

99466

,yearID,playerID,G_all,GS,G_batting,G_defense,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
0,1871,barnero01,31,NaN,31,31,0,0,0,16,0,15,0,0,0,0,NaN,NaN,NaN
1,1871,barrofr01,18,NaN,18,18,0,0,0,1,0,0,13,0,4,17,NaN,NaN,NaN

In [156]:
mb_data = pd.merge(appearances, bbdata_sal)
print(len(mb_data))
mb_data.head()

11730

,yearID,playerID,G_all,GS,G_batting,G_defense,G_p,G_c,G_1b,G_2b,...,nameLast,nameGiven,AB,H,BB,HBP,SF,salary,OBP,OBP_sal_10k
0,1985,benedbr01,70,67,70,70,0,70,0,0,...,Benedict,Bruce Edwin,208,42,22,1,2,545000,27.896996,0.511871
1,1985,ceronri01,96,76,96,90,0,90,0,0,...,Cerone,Richard Aldo,282,61,29,1,4,625000,28.797468,0.460759
2,1985,chambch01,101,27,101,39,0,0,39,0,...,Chambliss,Carroll Christopher,170,40,18,0,1,800000,30.687831,0.383598
3,1985,harpete01,138,124,138,131,0,0,0,0,...,Harper,Terry Joe,492,130,44,3,2,250000,32.717190,1.308688
4,1985,hornebo01,130,125,130,127,0,0,87,0,...,Horner,James Robert,483,129,50,1,6,1500000,33.333333,0.222222

## Rules of Baseball

Baseball has 9 defensive positions:
* pitcher (who does not hit, and are therefore excluded from this analysis; however, I include designated hitter/pinch hitters)
* catcher
* 1st base
* 2nd base
* short stop
* 3rd base
* left field
* center field
* right field


Because `G_of` is just a count of whether a player was `G_lf`, `G_cf`, or `G_rf`, it does not consititue an actual spot on the roster.

In [134]:
ROSTER=['G_c', 'G_1b', 'G_2b','G_3b', 'G_ss', 'G_lf', 'G_cf', 'G_rf', 'G_dh', 'G_ph']

In [135]:
def mb_players(year, pos):
    return mb_data[(mb_data['yearID'] == year) & (mb_data[pos] > 5)][:10].sort(columns='OBP_sal_10k', ascending=False)

I have set a minimum of 5 games in the position to be considered for the roster.

In [127]:
def mb_roster(year):
    mbr_uf = []
    for pos in ROSTER:
        mbr_uf.append(mb_players(year, pos))
        
    ret = []
    num_pos = len(mbr_uf)
    overlap = []
    for m, pos in enumerate(mbr_uf):
        ret.append(pos.iloc[0])
        try:
            for n in range(num_pos):
                if m != n:
                    overlap.append(n)
                    mbr_uf[n].iloc[0] == pos.iloc[0]
            overlap = []
        except:
            if mbr_uf[overlap[-1]].iloc[1].OBP_sal_10k > mbr_uf[m].iloc[1].OBP_sal_10k:
                ret[m] = mbr_uf[overlap[-1]].iloc[1]
            else:
                mbr_uf[m].iloc[1]
            overlap = []
    return pd.DataFrame(ret)

In [141]:
def mb_roster(year):
    mbr_uf = []
    for pos in ROSTER:
        mbr_uf.append(mb_players(year, pos))
        
    ret = []
    no_overlap = []
    player_list = []
    for pos in mbr_uf:
        for n in range(len(pos)):
            if pos.iloc[n].playerID not in player_list:
                no_overlap.append(n)
        player_list.append(pos.iloc[no_overlap[0]].playerID)
        ret.append(pos.iloc[no_overlap[0]])
        no_overlap = []
                       
    return pd.DataFrame(ret)

## Final Product: Plug in a Year and Enjoy the Exploration!

In [157]:
mb_roster(2001)

,yearID,playerID,G_all,GS,G_batting,G_defense,G_p,G_c,G_1b,G_2b,...,nameLast,nameGiven,AB,H,BB,HBP,SF,salary,OBP,OBP_sal_10k
6225,2001,wootesh01,79,61,79,47,0,25,21,0,...,Wooten,William Shawn,221,69,5,3,3,200500,33.189655,1.655344
6219,2001,joynewa01,53,38,53,39,0,0,39,0,...,Joyner,Wallace Keith,148,36,13,0,0,200000,30.434783,1.521739
6214,2001,eckstda01,153,146,153,138,0,0,0,14,...,Eckstein,David Mark,582,166,43,21,2,200000,35.493827,1.774691
6245,2001,helmswe01,100,51,100,92,0,0,77,0,...,Helms,Wesley Ray,216,48,21,1,1,210000,29.288703,1.394700
6217,2001,gilbe01,104,73,104,78,0,0,18,21,...,Gil,Romar Benjamin,260,77,14,0,2,350000,32.971014,0.942029
6228,2001,delluda01,115,40,115,58,0,0,0,0,...,Dellucci,David Michael,217,60,22,2,0,325000,34.854772,1.072455
6275,2001,richach01,136,125,136,111,0,0,18,0,...,Richard,Christopher Robert,483,128,45,8,4,232500,33.518519,1.441657
6226,2001,bautida01,100,42,100,61,0,0,0,0,...,Bautista,Daniel,222,67,14,1,0,675000,34.599156,0.512580
6231,2001,durazer01,92,34,92,40,0,0,38,0,...,Durazo,Erubiel,175,47,28,2,2,260000,37.198068,1.430695
6220,2001,kennead01,137,127,137,131,0,0,0,131,...,Kennedy,Adam Thomas,478,129,27,11,9,280000,31.809524,1.136054