In [79]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import re
%matplotlib inline

In [94]:
master = pd.read_csv('data/Master.csv', parse_dates=['debut', 'finalGame'])
# Currently not caring about pitchers

In [95]:
master.dtypes

playerID                object
birthYear              float64
birthMonth             float64
birthDay               float64
birthCountry            object
birthState              object
birthCity               object
deathYear              float64
deathMonth             float64
deathDay               float64
deathCountry            object
deathState              object
deathCity               object
nameFirst               object
nameLast                object
nameGiven               object
weight                 float64
height                 float64
bats                    object
throws                  object
debut           datetime64[ns]
finalGame       datetime64[ns]
retroID                 object
bbrefID                 object
dtype: object

In [127]:
def birth_state_count(state):
    print(master[master['birthState'] == state].size)

birth_state_count('RI')
birth_state_count('FL')

1848
11256

In [143]:
bbmaster = master[['playerID', 'nameFirst', 'nameLast', 'nameGiven']]
bbmaster.head()

    playerID nameFirst nameLast       nameGiven
0  aardsda01     David  Aardsma     David Allan
1  aaronha01      Hank    Aaron     Henry Louis
2  aaronto01    Tommie    Aaron      Tommie Lee
3   aasedo01       Don     Aase  Donald William
4   abadan01      Andy     Abad   Fausto Andres

In [144]:
batting = pd.read_csv('data/Batting.csv')
batting.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')

In [145]:
batting.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13,8,1,4,0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19,3,1,2,5,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27,1,1,0,2,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16,6,2,2,1,NaN,NaN,NaN,NaN,NaN

In [146]:
master_batting = pd.merge(master, batting)

In [147]:
batting.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')

In [164]:
bats = batting[['playerID', 'yearID','AB', 'H', 'BB', 'HBP', 'SF']]
bats.head()
print(len(bats))
bbdata2 = pd.merge(bbmaster, bats)
bbdata2.head()

99846

    playerID nameFirst nameLast    nameGiven  yearID  AB  H  BB  HBP  SF
0  aardsda01     David  Aardsma  David Allan    2004   0  0   0    0   0
1  aardsda01     David  Aardsma  David Allan    2006   2  0   0    0   0
2  aardsda01     David  Aardsma  David Allan    2007   0  0   0    0   0
3  aardsda01     David  Aardsma  David Allan    2008   1  0   0    0   0
4  aardsda01     David  Aardsma  David Allan    2009   0  0   0    0   0

In [172]:
salaries = pd.read_csv('data/Salaries.csv')
salaries.columns

Index(['yearID', 'teamID', 'lgID', 'playerID', 'salary'], dtype='object')

In [173]:
salaries = salaries[['yearID', 'playerID', 'salary']]
print(len(salaries))
salaries.head()

24758

   yearID   playerID  salary
0    1985  barkele01  870000
1    1985  bedrost01  550000
2    1985  benedbr01  545000
3    1985   campri01  633333
4    1985  ceronri01  625000

In [174]:
bbdata_sal = pd.merge(bbdata2, salaries)
print(len(bbdata_sal))
bbdata_sal.head()

26470

,playerID,nameFirst,nameLast,nameGiven,yearID,AB,H,BB,HBP,SF,salary
0,aardsda01,David,Aardsma,David Allan,2004,0,0,0,0,0,300000
1,aardsda01,David,Aardsma,David Allan,2007,0,0,0,0,0,387500
2,aardsda01,David,Aardsma,David Allan,2008,1,0,0,0,0,403250
3,aardsda01,David,Aardsma,David Allan,2009,0,0,0,0,0,419000
4,aardsda01,David,Aardsma,David Allan,2010,0,0,0,0,0,2750000

In [ ]:
bbdata_sal['OBP'] = bbdata_sal.apply(lambda row: row['H'])

In [184]:
appearances = pd.read_csv('data/Appearances.csv')
appearances.columns

Index(['yearID', 'teamID', 'lgID', 'playerID', 'G_all', 'GS', 'G_batting',
       'G_defense', 'G_p', 'G_c', 'G_1b', 'G_2b', 'G_3b', 'G_ss', 'G_lf',
       'G_cf', 'G_rf', 'G_of', 'G_dh', 'G_ph', 'G_pr'],
      dtype='object')

In [185]:
appearances.pop('lgID')
appearances.pop('teamID')
appearances.head()

,yearID,playerID,G_all,GS,G_batting,G_defense,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
0,1871,barnero01,31,NaN,31,31,0,0,0,16,0,15,0,0,0,0,NaN,NaN,NaN
1,1871,barrofr01,18,NaN,18,18,0,0,0,1,0,0,13,0,4,17,NaN,NaN,NaN
2,1871,birdsda01,29,NaN,29,29,0,7,0,0,0,0,0,0,27,27,NaN,NaN,NaN
3,1871,conefr01,19,NaN,19,19,0,0,0,0,0,0,18,0,1,18,NaN,NaN,NaN
4,1871,gouldch01,31,NaN,31,31,0,0,30,0,0,0,0,0,1,1,NaN,NaN,NaN

In [186]:
player_info = pd.merge(bbdata_sal, appearances)
player_info.head()

,playerID,nameFirst,nameLast,nameGiven,yearID,AB,H,BB,HBP,SF,...,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
0,aardsda01,David,Aardsma,David Allan,2004,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,aardsda01,David,Aardsma,David Allan,2007,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,aardsda01,David,Aardsma,David Allan,2008,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,aardsda01,David,Aardsma,David Allan,2009,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,aardsda01,David,Aardsma,David Allan,2010,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [86]:
# master_batting_appearances = pd.merge(master_batting, appearances)

In [87]:
# bbdata = pd.merge(master_batting_appearances, salaries)

In [88]:
# bbdata.head()