In [79]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import re
%matplotlib inline

In [94]:
master = pd.read_csv('data/Master.csv', parse_dates=['debut', 'finalGame'])
# Currently not caring about pitchers

In [95]:
master.dtypes

playerID                object
birthYear              float64
birthMonth             float64
birthDay               float64
birthCountry            object
birthState              object
birthCity               object
deathYear              float64
deathMonth             float64
deathDay               float64
deathCountry            object
deathState              object
deathCity               object
nameFirst               object
nameLast                object
nameGiven               object
weight                 float64
height                 float64
bats                    object
throws                  object
debut           datetime64[ns]
finalGame       datetime64[ns]
retroID                 object
bbrefID                 object
dtype: object

In [127]:
def birth_state_count(state):
    print(master[master['birthState'] == state].size)

birth_state_count('RI')
birth_state_count('FL')

1848
11256

In [99]:
bbmaster = master[['playerID', 'nameFirst', 'nameLast', 'nameGiven', 'debut', 'finalGame']]
bbmaster.head()

    playerID nameFirst nameLast       nameGiven      debut  finalGame
0  aardsda01     David  Aardsma     David Allan 2004-04-06 2013-09-28
1  aaronha01      Hank    Aaron     Henry Louis 1954-04-13 1976-10-03
2  aaronto01    Tommie    Aaron      Tommie Lee 1962-04-10 1971-09-26
3   aasedo01       Don     Aase  Donald William 1977-07-26 1990-10-03
4   abadan01      Andy     Abad   Fausto Andres 2001-09-10 2006-04-13

In [101]:
batting = pd.read_csv('data/Batting.csv')
batting.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')

In [133]:
batting.teamID.unique().size

149

In [102]:
master_batting = pd.merge(master, batting)

In [109]:
master_batting[master_batting['birthState'] == 'WY'].size

4545

In [83]:
# salaries = pd.read_csv('data/Salaries.csv')
# salaries.head()

In [84]:
# appearances = pd.read_csv('data/Appearances.csv')
# appearances.head()

In [86]:
# master_batting_appearances = pd.merge(master_batting, appearances)

In [87]:
# bbdata = pd.merge(master_batting_appearances, salaries)

In [88]:
# bbdata.head()